//login
//signup
.login{
    padding: 20px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(217,217,217,0.2);
}
.sign-up{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(217,217,217,0.2);
}

