@use "../colors" as *;
@mixin Btns {
  width: 10rem;
  //   background: #fff;
  border-radius: 10px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  //   color: $btntextcolor;
  &:hover {
    background-color: $btncolor;
    color: $secTextColor;
  }
  &:focus {
    background-color: $btncolor;
    color: $secTextColor;
  }
}
@mixin CartBtns {
  width: 3rem;
  //   background: #fff;
  border-radius: 10px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  //   color: $btntextcolor;
  background-color: $btncolor;
  color: $secTextColor;
}
.LoginBtn {
  @include Btns;
}
.SignUpBtn {
  @include Btns;
}
.BuyNowBtn {
  @include Btns;
  background-color: transparent;
  border: 1px solid $btncolor;
  color: $pryTextColor;
}
.sellbtn {
  @include Btns;
  background-color: transparent;
  border: 1px solid $btncolor;
  color: $pryTextColor;
}
.LoginBtn {
  @include Btns;
  background-color: transparent;
  border: 1px solid $btncolor;
  color: $pryTextColor;
}
.addToCartBtn {
  @include CartBtns;
  // background-color: transparent;
  border: 1px solid $btncolor;
  // color: $pryTextColor;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.PlusBtn {
  width: 2.3rem;
  border-radius: 0px;
  height: 1.7rem;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  background-color: $btncolor;
  color: $secTextColor;
  border: 1px solid $btncolor;
}
.MinusBtn {
  width: 2.3rem;
  border-radius: 0px;
  height: 1.7rem;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  color: $btncolor;
  border: 1px solid $btncolor;
}

.mtnbtn {
  @include Btns;
  background-color: transparent;
  border: 1px solid $btncolor;
  color: $pryTextColor;
}
.legalmobtn {
  @include Btns;
  background-color: transparent;
  border: 1px solid $btncolor;
  color: $pryTextColor;
}
.trulancebtn {
  @include Btns;
  background-color: transparent;
  border: 1px solid $btncolor;
  color: $pryTextColor;
}
.havenbtn {
  @include Btns;
  background-color: transparent;
  border: 1px solid $btncolor;
  color: $pryTextColor;
}
.product-button {
  background: $btncolor;
}
.product-buttons {
  @include Btns;
}
.navlogin {
  @include Btns;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
  border: 1px solid;
  border-color: rgba(36, 0, 164, 1);
}
.heroBuyNowbtn {
  @include Btns;
  width: fit-content;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
  border: 1px solid;
  border-color: rgba(36, 0, 164, 1);
}
.heroSellbtn {
  @include Btns;
  width: fit-content;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
  border: 1px solid;
  border-color: rgba(36, 0, 164, 1);
}

.addBtn {
  background-color: $btncolor;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 40px;
  height: 30px;
  flex-shrink: 0;
}

.cardBgg {
  width: 288px;
  height: 238px;
  flex-shrink: 0;
  border-radius: 10px;
  border-right: 6px solid $btncolor;
  border-left: 6px solid $btncolor;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 100%;
}
