@use '../colors' as *;
@mixin Btns{
    width: 130px;
    background: $btncolor;
    border-radius: 10px;
    height: 45px;
    font-size: 14px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    color: $btntextcolor;
}
.LoginBtn{
    @include Btns;
}
.SignUpBtn{
    @include Btns;
}
.BuyNowBtn{
    @include Btns;
    background-color: transparent;
    color: rgba(0,0,0,1);
    border: 1px solid;
    border-color: rgba(36, 0, 164, 1);
}
.sellbtn{
    @include Btns;
    background-color: transparent;
    color: rgba(0,0,0,1);
    border: 1px solid;
    border-color: rgba(36, 0, 164, 1);
}
.mtnbtn{
    @include Btns;
}
.legalmobtn{
    @include Btns;
}
.trulancebtn{
    @include Btns;
}
.havenbtn{
    @include Btns;
}
.product-button{
    background: $btncolor;
}
.product-buttons{
    @include Btns;
}
.navlogin{
    @include Btns;
    background-color: transparent;
    color: rgba(0,0,0,1);
    border: 1px solid;
    border-color: rgba(36, 0, 164, 1);
}