footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;
    border-color: rgba(0,0,0,1);
    border: 1px 1px 1px 1px;
    display: flex;
    width: 1512px;
    height: 291px;
    justify-content: space-around;
   }
.footerLeft{
    justify-content: left;
    width: 159px;
    height: 136px;
    border-radius: 159px;
    padding-top: 2569px;
    padding-left: 46px;
    text-align: center;
}

.footerCentre{
    color: #000;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.03px;
    align-items: center;
    justify-content: center;
    text-align: center;
   }

.footerRight{
    align-self: right;
    text-align: right;
    color: #000;
    font-family: 'Rubik';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.03px;
  }